<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron p-3">
    <h1 class="p-2">Smart Lock</h1>
    <h6 class="p-2">Vytvarajte a spravujte svoje rezervacie.</h6>      
</div>

<div class="container p-1">
    <h2 align="center">Login</h2>
    <form action="/" method="post">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
        </div>   
        <button type="submit" class="btn btn-primary" style="width:100%">Login</button>    
    </form>
</div>

<div class="container p-1">
    <form action="/register" method="get">
        <button type="submit" class="btn btn-secondary" style="width:100%">Register</button>    
    </form>
</div>

</body>
</html>
